@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col px-5">
        <div class="row">
            @if (Model is not null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("_ProductCard", item)
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Bu Kategoride Ürün Bulunamadı!
                </div>
            }
        </div>
    </div>
</div>
